
.navbar_custom{
    height: 70px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}


// .dropdown_custom{
//     left: -25px !important;
//     min-width: 80px !important;
//     margin-top: 12px !important;

// }

.logout{
    cursor: pointer;
}

.header_icon{
    opacity: 0.6 !important;
}

.header_icon:hover{
    opacity: 1 !important;
}

.logo{
    border-radius: 4px;
    height: 35px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.header_custom{
    display: flex;
    justify-content: center;
}
