

.edit_button, .delete_button{
    font-size:small;
    height: 25px;
    width: 30px;
    padding: 0;
}

.delete_button{
    margin-left: 5px;
}

.logout{
    cursor: pointer;
}

.admin_section{
    min-height: 70vh;
}




@media only screen and (max-width: 450px) {
    .table_container{
    }

    .button_div{}

    .description{
        display: none;
    }
}

