

  <app-header></app-header>

  <!-- ------------------------- Products ------------------------- -->

  <div class="container table_container admin_section">
    <div class="row">
      <div class="col mt-5 mb-5">

        <div class="">

            <br>
            <table class="table" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                <thead style="background-color: rgb(234, 234, 234) !important; border-bottom: 2px solid rgb(96, 96, 96);">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let product of products; index as i" style="">
                    <!-- <th scope="row">{{i+1}}</th> -->
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td class="description">{{product.description}}</td>
                    <td>{{product.price}} €</td>
                    <td style="text-align: right;" class="d-flex button_div">
                        <button type="button" class="btn btn-outline-info edit_button" (click)="openModal(template, product)"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn btn-outline-danger delete_button" (click)="delete(product)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
          
              <br>
              <div style="text-align: center ;">
                  <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template)">Add Product</button>
              </div>
          
          
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">{{modalTitle}}</h4>
                  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="mb-1">Product Name</label>
                        <input type="text" class="form-control" placeholder="Enter Product Name" [formControl]="name">
                        <small *ngIf="name.errors?.['required'] && showError" > <b> *Name is required</b> </small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="mb-1">Product Description</label>
                        <input type="text" class="form-control" placeholder="Enter Product Description" [formControl]="description">
                        <small *ngIf="description.errors?.['required'] && showError" > <b> *Description is required</b> </small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="mb-1">Product Price</label>
                        <input type="number" class="form-control" placeholder="Enter Product Price" [formControl]="price">
                        <small *ngIf="price.errors?.['required'] && showError" > <b> *Price is required</b> </small>
                    </div>
                    <button type="button" class="btn btn-primary " (click)="save()">{{btnTitle}}</button>
                </div>
              </ng-template>
          
          </div>

    </div>
  </div>
</div>


<app-footer></app-footer>
  