<footer class="footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-12 col-md-5 mb-5">
                <h4>Contact —</h4>
                <p>Contact us for information or any problems.</p>
                <span><i class="fa-solid fa-envelope"></i> info@tecnoworld.it</span> <br>
                <span><i class="fa-solid fa-phone"></i> 051 628 0923</span>
            </div>
            <div class="col-sm-12 col-md-4 mb-5">
                <h4>Menu  —</h4>

                <a class="link-light" href="" routerLink="/ecommerce"> HOME</a> <br>
                <a class="link-light" href="" routerLink="/cart"> CART</a> <br>
                <a class="link-light" href="" routerLink="/order"> ORDER</a>

            </div>
            <div class="col-sm-12 col-md-3">
                <h4>Social  —</h4>
                <span><i class="fa-brands fa-facebook"></i> Facebook</span> <br>
                <span><i class="fa-brands fa-instagram"></i> Instagram </span>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <p class="copyright">Copyright © Reyad Hossain 2021</p>
        </div>
    </div>
    

</footer>
